/*
=================
Universal
=================
*/

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

h2, h3, p {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

h2 {
    padding-top: 10px;
    margin: 0px;
}

/*
=================
Home
=================
*/

#home {
    background-image: url(Images/dancing.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(251, 107, 170);
    height: 100vh;
    width: 100%;
}

h1 {
    text-align: center;
    margin: 0 auto;
    padding-top: 75px;
    font-family: 'Indie Flower', cursive;
}

footer {
    bottom: -5px;
    left: 10px;
    position: absolute;
}

#about-btn img {
    height: 75px;
    margin: 0px;
    padding: 0px;
}

#about-btn {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
    background-color: transparent;
    top: 20px;
    right: 20px;
    position: absolute;
    animation: thing 3s infinite;
}

@keyframes thing {
    0%{transform: rotate(0deg)}
    1%{transform: rotate(9deg)}
    2%{transform: rotate(0deg)}
    3%{transform: rotate(-9deg)}
    4%{transform: rotate(0deg)}
    5%{transform: rotate(15deg)}
    6%{transform: rotate(0deg)}
    7%{transform: rotate(-15deg)}
    8%{transform: rotate(0deg)}
    100%{transform: rotate(0deg)}
}

#menu {
    position: absolute;
    padding: 0px;
    margin: 0px;
    top: 0px;
    padding-left: 10px;
}

#menu li a {
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    color: black;
    margin-right: 15px;
}

/*
=================
About
=================
*/

#chad {
    min-height: 100vh;
    background: url(Images/BW-bg.jpg);
    padding-top: 100px;
    padding-bottom: 100px;
}

#chad h2 {
    margin: 0px;
    text-align: center;
    padding-top: 25px;
    font-family: 'Creepster', cursive;
    color:rgb(251, 107, 170);
    font-size: 50px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#chad h3 {
    padding-top: 10px;
    font-family: 'Indie Flower', cursive;
}

#chad .item {
    margin: 150px;
    padding: 20px;
}

#chad .item-double {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.rounded {
    border-radius: 25px;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 10px;
    text-align: center;
}

ul li {
    display: inline;
    font-size: 25px;
}

hr {
    width: 200px;
    height: 55px;
    border: none;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    background-image: url("Images/snake.png");
}

a {
    text-decoration: none;
}

a:link {
    color: rgb(10, 97, 212);
}

a:visited {
    color: rgb(143, 85, 197);
}

a:hover {
    color: red;
    font-weight: bolder;
}

a:active {
    color: rgb(255, 50, 255);
}

#chat:hover {
    cursor: url('Images/icons8-chat-32.png'), default;
}

#chad h3 {
    margin-bottom: 0px;
    font-size: 30px;
}

#rad {
    font-family: 'Creepster', cursive;
    color:rgb(251, 107, 170);
    font-size: 25px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#alt {
    font-family: 'Pangolin', cursive;
    margin-top: 0px;
    font-size: 20px;
}

/*
=================
About Article
=================
*/

.wrapper {
    background-color: #fb8fff;
    opacity: 97%;
}

img {
    opacity: 100%;
}

/*
=================
Work
=================
*/

#work {
    height: auto;
}

#work h2 {
    padding-top: 20px;
}

.group {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.group h4, h3, h2 {
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

.sample {
    margin-top: 10px;
    width: 100%;
    height: auto;
}

.sample:hover {
    content: url(Images/sample.jpg);
    width: 100%;
    height: auto;
}

.item h4 {
    outline: solid black;
    background-color: white;
    width: 200px;
    padding: 10px;
    margin: 10px auto 5px auto;
}

#work .item {
    margin: 0px 10px;
}

#work a:hover {
    cursor: url('Images/hot-dog.png'), default;
}

#work p {
    font-family: 'Pangolin', cursive;
    font-size: 20px;
}

/*
=================
Contact
=================
*/

#contact {
    border: solid black;
    display: flex;
    flex-direction: column;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQamah8XXEm69awwyKqJUBb5bR-U6OtHIkUdw&usqp=CAU);
    margin-top: 10px;
}

#contact h2 {
    font-family: 'Beth Ellen', cursive;
    font-size: 40px;
}

#contact p {
    font-size: 30px;
}

#contact form input, textarea {
    display: block;
    margin: 10px auto;
    border: solid rgb(251, 107, 170);
    font-family: 'Indie Flower', cursive;
}

#contact textarea {
    width: 200px;
}

.actions li {
    font-size: 20px;
}

#social {
    text-align: center;
    padding-bottom: 20px;
}

#social p {
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}

#rocket img {
    height: 50px;
    animation: thing 3s infinite;
}

/*
=================
Media Queries
=================
*/

@media all and (min-width: 800px) {
    .group {
        display: flex;
        flex-direction: row;
    }

    #contact {
        text-align: center;
    }
}

@media all and (min-width: 1000px) {
    #chad {
        display: flex;
        flex-direction: column;
        flex: 2;
        padding-bottom: 100px;
    }
}

@media all and (max-width: 1200px) {
    .item-double {
        padding-top: 10px;
    }
}

@media all and (max-width: 600px) {
    header h1 {
        font-size: 42px;
    }
    
    nav {
        margin-top: 20px;
        text-align: center;
    }

    nav ul {
        width: 95%;
        position: absolute;
        justify-content: center;
        padding: 0px;
        margin: 0px;
    }

    #menu {
        display: flex;
        text-align: center;
    }

    #about-btn {
        opacity: 0;
    }

    #chad p {
        margin-top: 0px;
        font-size: 16px;
        padding: 0px 20px;
    }
  }

@media all and (max-width: 1200px) {
  #chad p {
    font-family: 'Pangolin', cursive;
    margin-top: 0px;
    font-size: 20px;
    padding: 0px 20px;
  }
}